/* Global */

.Button {
    background-color: #9A7AF1;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 2px;
    cursor: pointer;
    font-size: 15px;
}

.Button:hover {
    transform: scale(1.1) perspective(1px);
}

.font-1 {
    color: #007EC4;
    font-weight: bold;
}

.responsive-image {
    width: 100%;
    height: auto;
}



/* Description */

.about-description {
    /* height: 90vh; */
    padding-top: 8vh;
}

.desc-title {
    font-size: 40px;
    font-weight: bold;
    color: #007ec4;
}

.desc {
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
}

/* Vision Mission */

.about-vision-mission {
    padding-top: 20vh;
}

.about-vision-mission-title {
    text-align: justify;
    font-size: 40px;
    font-weight: bold;
    color: #007EC4;
}

.about-vision-mission-text {
    font-size: 18px;
    text-align: justify
}

.about-vision-mission-align-vertical {
    margin: auto;
}

/* Value */

.about-value {
    padding-top: 20vh;
}

.value-align-vertical {
    margin: auto;
}

/* Character */

.about-character {
    padding-top: 9vh;
}

.character-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #007EC4;
}

/* Management */

.about-management {
    padding-top: 20vh;
}

.JustifyMid {
    margin: auto;
}

.DirutKomutPhoto {
    width: 38vh;
}

.ManagementText {
    color: #007EC4;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 60px;
    margin: auto;
}

.JobTittle {
    font-size: 40px;
    font-weight: bold;
    color: #007EC4;
}

.NameTittle {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.Description {
    text-align: justify;
    padding: 30px;
}

.Padding {
    padding: 40px 0px;
}

.JobTittleKomis {
    font-size: 30px;
    font-weight: bold;
    color: #007EC4;
}

.NameTittleKomis {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.CardPhoto {
    width: 24vh;
    height: 24vh;
    margin: auto;
}

.CardGroup {
    margin: auto;
}